<!DOCTYPE html>
<html>
  <head>
    <title>RecorridoCl</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #67cfdb;">
        <div class="container">
            <a href="/" class="navbar-brand">
              recorrido.cl
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Catálogos</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/services">Servicios</a></li>
                            <li><a class="dropdown-item" href="/engineer_availabilities">Ingenieros</a></li>
                            <li><a class="dropdown-item" href="/contracts">Contratos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link active" href="/availabilities">Disponibilidad</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/horarios">Horarios</a></li>
                </ul>
            </div>
        </div>
      </nav>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %> 
    <%= yield %>
  </body>
  <script>
    $(".alert").delay(7000).slideUp(1000, function() {$(this).alert('close'); });
  </script>
</html>
